@import '../../sass/variaveis.scss';
@import '../../sass/mixins.scss';

.area-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 600px;

    margin: 2rem 0;

    .titulo {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            color: $cor-primaria;
        }

        h1 {
            font-size: $font-size-titulo;
            margin: 1.6rem 1rem;
            text-shadow: 0 2px 4px $cor-terciaria;
            color: $cor-primaria;
        }
    }

    div {
        height: 1px;
        width: 50%;
        background-color: $cor-secundaria;
        max-width: 260px;
        box-shadow: 0 2px 2px $cor-primaria;

        &.border-left {
            align-self: flex-start;
        }

        &.border-right {
            align-self: flex-end;
        }
    }
}

@media (min-width: 768px) {
    .area-titulo {
        max-width: 900px;

        .titulo {
            h1 {
                font-size: $font-size-titulo-grande;
            }
        }

        div {
            width: 60%;
            max-width: 900px;
        }
    }
}