@import './variaveis.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $font-roboto;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}