@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$cor-primaria: #082A54;
$cor-secundaria: #1A5CB0;
$cor-terciaria: #D7BC65;

$cor-branca: #FFF;
$cor-preta: #121212;

$font-roboto: 'Roboto', sans-serif;
$font-titulo: 'Merriweather', serif;

$font-size-titulo: 1.9rem;
$font-size-titulo-grande: 2.5rem;